:root, [data-bs-theme=light] {
  --bs-primary: #E67E22;
  --bs-primary-rgb: 230,126,34;
  --bs-primary-text-emphasis: #5C320E;
  --bs-primary-bg-subtle: #FAE5D3;
  --bs-primary-border-subtle: #F5CBA7;
  --bs-secondary: #6C4F3D;
  --bs-secondary-rgb: 108,79,61;
  --bs-secondary-text-emphasis: #2B2018;
  --bs-secondary-bg-subtle: #E2DCD8;
  --bs-secondary-border-subtle: #C4B9B1;
  --bs-success: #F39C12;
  --bs-success-rgb: 243,156,18;
  --bs-success-text-emphasis: #613E07;
  --bs-success-bg-subtle: #FDEBD0;
  --bs-success-border-subtle: #FAD7A0;
  --bs-info: #EAEAEA;
  --bs-info-rgb: 234,234,234;
  --bs-info-text-emphasis: #5E5E5E;
  --bs-info-bg-subtle: #FBFBFB;
  --bs-info-border-subtle: #F7F7F7;
  --bs-warning: #D35400;
  --bs-warning-rgb: 211,84,0;
  --bs-warning-text-emphasis: #542200;
  --bs-warning-bg-subtle: #F6DDCC;
  --bs-warning-border-subtle: #EDBB99;
  --bs-danger: #9B2C2C;
  --bs-danger-rgb: 155,44,44;
  --bs-danger-text-emphasis: #3E1212;
  --bs-danger-bg-subtle: #EBD5D5;
  --bs-danger-border-subtle: #D7ABAB;
  --bs-light: #F4E3D7;
  --bs-light-rgb: 244,227,215;
  --bs-light-text-emphasis: #625B56;
  --bs-light-bg-subtle: #FDF9F7;
  --bs-light-border-subtle: #FBF4EF;
  --bs-dark: #262626;
  --bs-dark-rgb: 38,38,38;
  --bs-dark-text-emphasis: #0F0F0F;
  --bs-dark-bg-subtle: #D4D4D4;
  --bs-dark-border-subtle: #A8A8A8;
  --bs-body-color: #EAEAEA;
  --bs-body-color-rgb: 234,234,234;
  --bs-secondary-color: #CFCFCF;
  --bs-secondary-color-rgb: 207,207,207;
  --bs-tertiary-color: #A8A8A8;
  --bs-tertiary-color-rgb: 168,168,168;
  --bs-body-bg: #1C1C1C;
  --bs-body-bg-rgb: 28,28,28;
  --bs-link-color: #f39c12;
  --bs-link-color-rgb: 243,156,18;
  --bs-link-hover-color: #e67e22;
  --bs-link-hover-color-rgb: 230,126,34;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #E67E22;
  --bs-btn-border-color: #E67E22;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #EA9143;
  --bs-btn-hover-border-color: #E98B38;
  --bs-btn-focus-shadow-rgb: 35,19,5;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #EB984E;
  --bs-btn-active-border-color: #E98B38;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #E67E22;
  --bs-btn-disabled-border-color: #E67E22;
}

.btn-outline-primary {
  --bs-btn-color: #E67E22;
  --bs-btn-border-color: #E67E22;
  --bs-btn-focus-shadow-rgb: 230,126,34;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E67E22;
  --bs-btn-hover-border-color: #E67E22;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E67E22;
  --bs-btn-active-border-color: #E67E22;
  --bs-btn-disabled-color: #E67E22;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #E67E22;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6C4F3D;
  --bs-btn-border-color: #6C4F3D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5C4334;
  --bs-btn-hover-border-color: #563F31;
  --bs-btn-focus-shadow-rgb: 233,229,226;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #563F31;
  --bs-btn-active-border-color: #513B2E;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6C4F3D;
  --bs-btn-disabled-border-color: #6C4F3D;
}

.btn-outline-secondary {
  --bs-btn-color: #6C4F3D;
  --bs-btn-border-color: #6C4F3D;
  --bs-btn-focus-shadow-rgb: 108,79,61;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6C4F3D;
  --bs-btn-hover-border-color: #6C4F3D;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6C4F3D;
  --bs-btn-active-border-color: #6C4F3D;
  --bs-btn-disabled-color: #6C4F3D;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6C4F3D;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #F39C12;
  --bs-btn-border-color: #F39C12;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F5AB36;
  --bs-btn-hover-border-color: #F4A62A;
  --bs-btn-focus-shadow-rgb: 36,23,3;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F5B041;
  --bs-btn-active-border-color: #F4A62A;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #F39C12;
  --bs-btn-disabled-border-color: #F39C12;
}

.btn-outline-success {
  --bs-btn-color: #F39C12;
  --bs-btn-border-color: #F39C12;
  --bs-btn-focus-shadow-rgb: 243,156,18;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F39C12;
  --bs-btn-hover-border-color: #F39C12;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F39C12;
  --bs-btn-active-border-color: #F39C12;
  --bs-btn-disabled-color: #F39C12;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #F39C12;
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: #EAEAEA;
  --bs-btn-border-color: #EAEAEA;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #EDEDED;
  --bs-btn-hover-border-color: #ECECEC;
  --bs-btn-focus-shadow-rgb: 35,35,35;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #EEEEEE;
  --bs-btn-active-border-color: #ECECEC;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #EAEAEA;
  --bs-btn-disabled-border-color: #EAEAEA;
}

.btn-outline-info {
  --bs-btn-color: #EAEAEA;
  --bs-btn-border-color: #EAEAEA;
  --bs-btn-focus-shadow-rgb: 234,234,234;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #EAEAEA;
  --bs-btn-hover-border-color: #EAEAEA;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #EAEAEA;
  --bs-btn-active-border-color: #EAEAEA;
  --bs-btn-disabled-color: #EAEAEA;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #EAEAEA;
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: #D35400;
  --bs-btn-border-color: #D35400;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #DA6E26;
  --bs-btn-hover-border-color: #D76519;
  --bs-btn-focus-shadow-rgb: 32,13,0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #DC7633;
  --bs-btn-active-border-color: #D76519;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #D35400;
  --bs-btn-disabled-border-color: #D35400;
}

.btn-outline-warning {
  --bs-btn-color: #D35400;
  --bs-btn-border-color: #D35400;
  --bs-btn-focus-shadow-rgb: 211,84,0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D35400;
  --bs-btn-hover-border-color: #D35400;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #D35400;
  --bs-btn-active-border-color: #D35400;
  --bs-btn-disabled-color: #D35400;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #D35400;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9B2C2C;
  --bs-btn-border-color: #9B2C2C;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #842525;
  --bs-btn-hover-border-color: #7C2323;
  --bs-btn-focus-shadow-rgb: 240,223,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7C2323;
  --bs-btn-active-border-color: #742121;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #9B2C2C;
  --bs-btn-disabled-border-color: #9B2C2C;
}

.btn-outline-danger {
  --bs-btn-color: #9B2C2C;
  --bs-btn-border-color: #9B2C2C;
  --bs-btn-focus-shadow-rgb: 155,44,44;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9B2C2C;
  --bs-btn-hover-border-color: #9B2C2C;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #9B2C2C;
  --bs-btn-active-border-color: #9B2C2C;
  --bs-btn-disabled-color: #9B2C2C;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #9B2C2C;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #F4E3D7;
  --bs-btn-border-color: #F4E3D7;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #CFC1B7;
  --bs-btn-hover-border-color: #C3B6AC;
  --bs-btn-focus-shadow-rgb: 37,34,32;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C3B6AC;
  --bs-btn-active-border-color: #B7AAA1;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #F4E3D7;
  --bs-btn-disabled-border-color: #F4E3D7;
}

.btn-outline-light {
  --bs-btn-color: #F4E3D7;
  --bs-btn-border-color: #F4E3D7;
  --bs-btn-focus-shadow-rgb: 244,227,215;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F4E3D7;
  --bs-btn-hover-border-color: #F4E3D7;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F4E3D7;
  --bs-btn-active-border-color: #F4E3D7;
  --bs-btn-disabled-color: #F4E3D7;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #F4E3D7;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #262626;
  --bs-btn-border-color: #262626;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #202020;
  --bs-btn-hover-border-color: #1E1E1E;
  --bs-btn-focus-shadow-rgb: 222,222,222;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1E1E1E;
  --bs-btn-active-border-color: #1D1D1D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #262626;
  --bs-btn-disabled-border-color: #262626;
}

.btn-outline-dark {
  --bs-btn-color: #262626;
  --bs-btn-border-color: #262626;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #262626;
  --bs-btn-hover-border-color: #262626;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #262626;
  --bs-btn-active-border-color: #262626;
  --bs-btn-disabled-color: #262626;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #262626;
}

.p-0 {
  padding: 0!important;
}

.p-3 {
  padding: 1rem!important;
}

.p-4 {
  padding: 1.5rem!important;
}

.px-2 {
  padding-right: .5rem!important;
  padding-left: .5rem!important;
}

.px-3 {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}

.py-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

.pt-3 {
  padding-top: 1rem!important;
}

.pt-5 {
  padding-top: 3rem!important;
}

.pe-0 {
  padding-right: 0!important;
}

.pb-5 {
  padding-bottom: 3rem!important;
}

.ps-0 {
  padding-left: 0!important;
}

.ps-5 {
  padding-left: 3rem!important;
}

@media (min-width:768px) {
  .p-md-5 {
    padding: 3rem!important;
  }
}

@media (min-width:768px) {
  .pe-md-5 {
    padding-right: 3rem!important;
  }
}

@media (min-width:768px) {
  .ps-md-5 {
    padding-left: 3rem!important;
  }
}

@media (min-width: 768px) {
  .ps-md-6 {
    padding-left: 4.5rem !important;
  }
}

@media (min-width:992px) {
  .py-lg-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

@media (min-width:1200px) {
  .p-xl-4 {
    padding: 1.5rem!important;
  }
}

@media (min-width:1200px) {
  .py-xl-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

